.about-main {
    display: flex;
    position: relative;
    @include tablet(){
        flex-direction: column;
    }
}



.about-main__left {
    width: 50%;
    z-index: 22;
    box-sizing: border-box;
    padding-left: 20px;
    background-color: #f2f0e8;
    margin-top: -10px;
    @include tablet(){
        margin-top: 0;
        width: 100%;
        padding: 0;
        padding-bottom: 48px;
    }
    @include mobile(){
        padding-bottom: 20px;
    }
}

.about-main__left-wrap {
    max-width: 770px;
    display: flex;
    flex-wrap: wrap;
    @include tablet(){
        flex-wrap:nowrap;
        flex-direction: column;
        margin: 0 auto;
    }
}


.about-main__left-title {
    font-family: 'Sansus-Webissimo-Regular';
    font-weight: 300;
    font-size: 63px;
    color: $grey;
    width: 267px;
    margin: 0 auto;
    margin-bottom: 50px;
    position: relative;
    z-index: 40;
    @include mobile(){
        font-size: 35px;
        text-align: center;
        margin-bottom: 35px;
    }
}

.about-main__left-title-bg {
    position: absolute;
    top: -123px;
    left: 50%;
    width: 320px;
    height: 300px;
    opacity: .2;
    transform: translateX(-50%);
    z-index: -1;
    @include mobile(){
        display: none;
    }
}

.about-main__left-content {
    width: 467px;
    margin: 0 auto;
    
    h4 {
        border-bottom: 2px solid $grey;
        font-family: 'Sansus-Webissimo-Regular';
        font-weight: 300;
        font-size: 53px;
        color: $grey;
        width: 122px;
        padding: 25px 0;
        text-transform: uppercase;
        margin: 0 auto;
        margin-bottom: 23px;
        @include tablet(){
            font-size: 30px;
            padding: 25px 10px;
            padding-bottom: 15px;
            width: 90px;
            text-align: center;
        }
        @include mobile(){
            font-size: 21px;
            padding: 30px 0;
            padding-bottom: 20px;
            width: 54px;
        }
    }

    p {
        font-family: 'Roboto-Regular';
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: $grey;
        padding: 0 20px;
        @include mobile(){
            padding: 0 10px;
        }
    }
    @include tablet(){
        width: 472px;
    }
    @include mobile(){
        width: 100%;
    }
}

.about-main__content-img {
    height: 340px;
    width: 440px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    img {
        height: 100%;
    }
    @include tablet(){
        width: 472px;
        margin-bottom: 20px;
    }
    @include mobile(){
        width: 100%;
        margin-bottom: 0;
    }
}

.about-main__right {
    width: 50%;
    z-index: 23;
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 30px;
    background-color: #f4f5f0; 
    margin-top: -10px;
    @include tablet(){
        width: 100%;
        padding-top: 50px;
    }
    @include mobile(){
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 30px;
    }
}

.about-main__right--animate {
    background: red;
}


.about-main__right-content {
    p {
        font-family: 'Roboto-Regular';
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: $grey;
        margin-bottom: 60px;
        @include tablet(){
            width: 475px;
            font-size: 14px;
        }
        @include mobile(){
            width: 100%;
        }
    }

    h5 {
        font-family: 'Roboto-Medium';
        font-weight: 400;
        font-size: 28px;  
        margin-bottom: 15px;
        margin-top: 0;
        @include tablet(){
            text-align: center;
        }
        @include mobile(){
            font-size: 21px;
        }
      }
      @include tablet(){
          display: flex;
          flex-direction: column;
          align-items: center;
      }
}

.about-main__right-title {
    font-family: 'Sansus-Webissimo-Regular';
    font-weight: 300;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    color: $grey;
    width: 267px;
    margin: 0 auto;
    margin-bottom: 50px;
    position: relative;
    @include mobile(){
        font-size: 21px;
    }
}

.about-main__right-title:after {
    content: '';
    position: absolute;
    width: 90px;
    border: 3px solid $grey;
    bottom: -26px;
    left: 90px;
    @include mobile(){
        border: 2px solid $grey;
    }
}


.about-main__frontend-wrap {
    margin: 0;
    padding: 0;
    @include mobile(){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}



.about-main__item {
    display: inline-block;
    width: 108px;
    height: 108px;
    margin-right: 35px;
    margin-bottom: 35px;
    position: relative;
    @include tablet(){
        margin-bottom: 45px;
    }
    @include mobile(){
        margin: 0 5px;
        margin-bottom: 28px;
    }
  }

.about-main__item:last-child {
    margin-right: 0;
}

.about-main__item-title {
    font-family: 'Roboto-Medium';
    font-weight: 500;
    font-size: 12px;
    color: $blue;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

