.blog {
    display: flex;
    padding: 20px;
    padding-bottom: 230px;
    padding-top: 70px;
    margin: 0 auto;
    position: relative;
    background-color: #faf8f0;
    @include mobile(){
        padding-top: 20px;
        padding-bottom: 332px;
    }
}

.blog__section-left {
    width: 30%;
    @include tablet(){
        position: absolute;
        left: -33%;
    }
}

.blog__title-wrap {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.blog__title-item {
    padding: 12px 0; 
    a {
        text-decoration: none;
        font-family: 'Roboto-Regular';
        font-weight: 300;
        font-size: 16px;
        color: $grey;
        display: block;
        text-align: right;
    }
}

.blog__section-right {
    width: 55%;
    padding-left: 100px; 
    @include tablet(){
        width: 100%;
        padding: 0 25px;
    }
    @include mobile(){
        padding: 0;
    }
}

.blog__article-wrap {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.blog__article-item {
    margin-bottom: 65px;
    padding-bottom: 25px;
    border-bottom: 5px solid rgba($color: $grey, $alpha: .2);
}

.blog__article-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.blog__article-title {
    margin: 0;
    margin-bottom: 25px;
    font-family: 'Sansus-Webissimo-Regular';
    font-weight: 300;
    font-size: 35px;
    color: $grey;
    @include mobile(){
        font-size: 21px;
    }
}

.blog__article-time {
    margin-bottom: 25px;
    font-family: 'Roboto-Regular';
    font-weight: 300;
    font-size: 16px;
    color: $grey;
    opacity: 0.7;
    @include mobile(){
        font-size: 14px;
    }
}

.blog__article-text {
    font-family: 'Roboto-Regular';
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: $grey;
    @include mobile(){
        font-size: 14px;
    }
}