.btn-autorization {
    display: inline-block;
    color: $white;
    text-decoration: none;
    padding: 13px 25px;
    border: 2px solid $white;
    transition: 0.4s;
    position: absolute;
    text-align: center;
    right: 20px;
    top: 20px;
    z-index: 56;
    font-family: 'Roboto-Medium';
    font-weight: 400;
    font-size: 16px;

    &:hover {
        border-color: $navi;
        background-color: $navi;
        transition: 0.4s;
    }

    @include mobile(){
        right: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}