.index-img {
    height: 150px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-image: url('../images/content/index-bg.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 130%;
    z-index: -1;
    @include tablet() {
        //height: 210px;
        display: none;
    }
}