.index-img {
    width: 120%;
    position: absolute;
    bottom: -5%;
    left: -5%;
    transform: translateZ(0);
    z-index: -1;
    @include tablet() {
        //height: 210px;
        display: none;
    }
}

