.social-title {
    align-self: flex-start;
    padding: 20px;
}

.social {
    padding: 0;
    margin: 0;
    margin-bottom: 64px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140px;
}

.social__link {
    a {
        color: $white;
        text-decoration: none;
        width: 25px;
        height: 25px;
    }
}

.social__icon-vk {
    fill: $white;
    width: 30px;
    height: 30px; 
}

.social__icon-git {
    fill: $white;
    width: 25px;
    height: 25px;
}

.social__icon-in {
    fill: $white;
    width: 25px;
    height: 25px;
}

.social__icon-index {
    fill: $blue;
}