.social-title {
    align-self: flex-start;
    padding: 20px;
    @include mobile(){
        padding: 10px;
    }
}

.social {
    padding: 0;
    margin: 0;
    margin-bottom: 55px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140px;
    @include mobile(){
        margin: 0 auto;
        margin-bottom: 27px;
    }
}

.social__link {
    a {
        color: $white;
        text-decoration: none;
        width: 25px;
        height: 25px;
    }
}

.social__icon-vk {
    fill: $white;
    transition: .4s;
    width: 30px;
    height: 30px; 
}

.social__icon-git {
    fill: $white;
    transition: .4s;
    width: 25px;
    height: 25px;
}

.social__icon-in {
    fill: $white;
    transition: .4s;
    width: 25px;
    height: 25px;
}

.social__icon:hover {
    fill: #038f9e;
    transition: .4s;
}

.social__icon-index {
    fill: $blue;
    transition: 0.4s;
    &:hover {
        fill: $white;
        transition: 0.4s;
    }
}

.social__icon--color {
    fill: #8e9094;
}