.works-main {
    position: relative;
}

.works-main__title {
    font-family: 'Sansus-Webissimo-Regular';
    font-weight: 300;
    font-size: 63px;
    text-transform: uppercase;
    color: $white;
    position: relative; 
    @include tablet(){
        font-size: 48px;
    }
}

.works-main__title-bg {
    transform: rotate(190deg);
    position: absolute;
    top: -42px;
    left: 12px;
    opacity: 0.2;
    z-index: -1;
    @include tablet(){
        left: 35px;
        top: -44px;
        width: 200px;
        height: 140px;
    }
}

.works-main__title-wrap {
    position: absolute;
    top: -108px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 40;
}