.wrapper-greeting {
    perspective: 1000px;
    border: 1px solid transparent;
    z-index: 77;
}

.wrapper-greeting__rotate {
    background-color: rgba($color: #12223c, $alpha: 0.6);
    position: relative;
    transform-style: preserve-3d;
    transition: 0.5s;
    padding: 26px 0;
    width: 376px;
    height: 389px;
    margin: auto;
    margin-top: 8%;
    @include tablet() {
        margin-top: 20%;
    }
    @include mobile() {
        margin-top: 30%;
        width: 300px;
        padding: 0;
        height: 372px;
    }
}

.wrapper-greeting__rotate--active {
    transform: rotateY(180deg);
}