extends ../includes/g_head
block variables
  - var title = 'Blog'
block content 
        .wrapper
            include ../includes/_nav-panel.pug    
            section.about-title
                .social-title
                    ul.social
                        li.social__link
                            a.social__link-vk(href="#")
                                svg.social__icon.social__icon-vk
                                    use(xlink:href="assets/images/sprite.svg#vk") 
                        li.social__link
                            a.social__link-git(href="#")
                                svg.social__icon.social__icon-git
                                    use(xlink:href="assets/images/sprite.svg#github")
                        li.social__link
                            a.social__link-in(href="#")
                                svg.social__icon.social__icon-in
                                    use(xlink:href="assets/images/sprite.svg#in")
                a(href="#").burger
                    .burger__btn
                .about-title__greeting
                    img(src="assets/images/icons/stars1.svg", alt="stars").about-title__greeting-bg
                    section.greeting
                        .greeting__foto
                            img(src="assets/images/content/ava.jpg", alt="ava")
                        .greeting__title
                            h3.greeting__blog-title БЛОГ
                            .greeting__title-text Статьи, которые я написал
            section.blog
                .triangle-wrap
                    svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 125" preserveaspectratio="none").traingle.triangle--color
                        polygon(points="0,0   0,225   500.8,225   500.8,75.5").traingle__left
                        polygon(points="1000,0   1000,225   500,225   500,75.5").traingle__right 
                .blog__section-left
                    aside.blog__article-titles#blog__article-titles
                        ul.blog__title-wrap#blog__article-list
                            li.blog__title-item.blog__title-item--active#0
                                a(href="#Article1") Самое важное в SASS
                            li.blog__title-item#1
                                a(href="#Article2") Приёмы в вёрстке, без которых не обходится ни один сайт
                            li.blog__title-item#2
                                a(href="#Article3") Необычно и невероятно
                            li.blog__title-item#3
                                a(href="#Article4") А ведь где-то, нас ждут флоуты
                            .blog__title-open
                .blog__section-right
                    ul.blog__article-wrap
                        a(href="#")#Article1
                        li(data-idtitle="0").blog__article-item
                            h2.blog__article-title Самое важное в SASS
                            .blog__article-time 22 ноября 2016
                            .blog__article-text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                        a(href="#")#Article2
                        li(data-idtitle="1").blog__article-item
                            h2.blog__article-title Приёмы в вёрстке, без которых не обходится ни один сайт
                            .blog__article-time 13 ноября 2016
                            .blog__article-text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                        a(href="#")#Article3
                        li(data-idtitle="2").blog__article-item
                            h2.blog__article-title Необычно и невероятно
                            .blog__article-time 27 марта 2018
                            .blog__article-text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                        a(href="#")#Article4
                        li(data-idtitle="3").blog__article-item
                            h2.blog__article-title А ведь где-то, нас ждут флоуты 
                            .blog__article-time 13 ноября 2018
                            .blog__article-text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                        

            include ../includes/_footer.pug
        
        script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
        script(src="assets/scripts/blog-min.js")