extends ../template

block variables
    - var title = 'Добро пожаловать'

block content
    h2 
        a(href="#") Главная

    h2 
        a(href="blog.html") Блог

    h2 
        a(href="my-works.html") Мои работы
        
    h2 
        a(href="about.html") Обо мне
    