extends ../includes/g_head
block variables
  - var title = 'My Portfolio'
block content 
        .wrapper
            .index-wrapper
                .video
                    video(autoplay, loop)
                        source(src="assets/video/build.mp4")
                .wrapper-greeting
                    .wrapper-greeting__rotate
                        section.greeting.greeting-index
                            .greeting__foto
                                img(src="assets/images/content/ava.jpg", alt="ava")
                            .greeting__title
                                h3.greeting__title-name Никитенко Геннадий
                                .greeting__title-text Личный сайт веб разработчика
                            ul.social
                                li.social__link
                                    a.social__link-vk(href="https://vk.com/minorvankertis" target="_blank")
                                        svg.social__icon-index.social__icon-vk
                                            use(xlink:href="assets/images/sprite.svg#vk") 
                                li.social__link
                                    a.social__link-git(href="https://github.com/Minor353" target="_blank")
                                        svg.social__icon-index.social__icon-git
                                            use(xlink:href="assets/images/sprite.svg#github")
                                li.social__link
                                    a.social__link-in(href="https://www.linkedin.com/in/hennadii-nikitenko-b68494a0/" target="_blank")
                                        svg.social__icon-index.social__icon-in
                                            use(xlink:href="assets/images/sprite.svg#in")
                            ul.btn-page
                                li.btn-page__item
                                    a.btn-page__link(href="my-works.html") Мои работы
                                li.btn-page__item
                                    a.btn-page__link(href="about.html") Обо мне
                                li.btn-page__item
                                    a.btn-page__link(href="blog.html") Блог
                        section.autorization
                            h2.autorization__title Авторизируйтесь
                            form(action="#" method="post").autorization__form
                                .autorization__input-wrapper.autorization__input-name
                                    input(type="text" placeholder="Логин").form__input
                                .autorization__input-wrapper.autorization__input-pass
                                    input(type="password" placeholder="Пароль").form__input
                                label.autorization__label 
                                    input(type="checkbox").autorization__checkbox-btn
                                    span.autorization__label-text  Я человек
                                .autorization__radio
                                    h6.autorization__radio-title Вы точно не робот?
                                    label.autorization__radio-label 
                                        input(type="radio" name="robot" value="yes" checked).autorization__radio-btn
                                        span.autorization__radio-text Да
                                    label.autorization__radio-label 
                                        input(type="radio" name="robot" value="No").autorization__radio-btn
                                        span.autorization__radio-text Не уверен
                                .autorization__btn-wrapper
                                    button(type="reset").autorization__btn.autorization__btn-main На главную
                                    button(type="submit").autorization__btn.autorization__btn-in Войти
                img(src="assets/images/content/index-bg.png", alt="bg").index-img
                .copywriting © Владимир Астахов | создано с любовью в LoftSchool | 2018
                div#hellopreloader
                    div#hellopreloader_preload
                        .hellopreloader-bg
        script(type="text/javascript") var hellopreloader = document.getElementById("hellopreloader_preload");function fadeOutnojquery(el){el.style.opacity = 1;var interhellopreloader = setInterval(function(){el.style.opacity = el.style.opacity - 0.05;if (el.style.opacity <=0.05){ clearInterval(interhellopreloader);hellopreloader.style.display = "none";}},16);}window.onload = function(){setTimeout(function(){fadeOutnojquery(hellopreloader);},1000);};
        script(src="assets/scripts/index-min.js")