extends ../includes/g_head
block variables
  - var title = 'My Works'
block content 
        .wrapper
            include ../includes/_nav-panel.pug    
            section.about-title#about-title
                .social-title
                    ul.social
                        li.social__link
                            a.social__link-vk(href="https://vk.com/minorvankertis" target="_blank")
                                svg.social__icon.social__icon-vk
                                    use(xlink:href="assets/images/sprite.svg#vk") 
                        li.social__link
                            a.social__link-git(href="https://github.com/Minor353" target="_blank")
                                svg.social__icon.social__icon-git
                                    use(xlink:href="assets/images/sprite.svg#github")
                        li.social__link
                            a.social__link-in(href="https://www.linkedin.com/in/hennadii-nikitenko-b68494a0/" target="_blank")
                                svg.social__icon.social__icon-in
                                    use(xlink:href="assets/images/sprite.svg#in")
                a(href="#").burger
                    .burger__btn 
                .about-title__greeting
                    img(src="assets/images/icons/portfolio_header.svg", alt="stars").about-title__greeting-bg
                    section.greeting
                        .greeting__foto
                            img(src="assets/images/content/ava.jpg", alt="ava")
                        .greeting__title
                            h3.greeting__title-name Никитенко Геннадий
                            .greeting__title-text Личный сайт веб разработчика
                a(href="#work").arrow-btn.arrow-btn--position
                    svg.arrow
                        use(xlink:href="assets/images/sprite.svg#arrow_down")
            section.works-main
                .triangle-wrap.triangle-wrap--position
                    svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 288" preserveaspectratio="none").traingle.triangle--works
                        polygon(points="0,0   0,288   500.8,288   500.8,85.5").traingle__left
                        polygon(points="1000,0   1000,288   500,288   500,85.5").traingle__right 
                .works-main__title-wrap
                    .works-main__title Мои работы
                        img(src="assets/images/icons/works_header.svg", alt="work").works-main__title-bg
                                
                a(href="#")#work
                .slider
                    a(href="#").slider__arrow-prev
                    a(href="#").slider__arrow-next
                    .slider__wrap
                        ul.slider__items
                            li.slider__item
                                .slider__img
                                    img(src="assets/images/content/work-1.png", alt="site-foto")
                                .slider__content
                                    h4.slider__content-title Сайт Portfolio
                                    .slider__content-description HTML, CSS, JavaScript, Pug, SCSS, PHP
                                    a(href="http://front-dev.com/" target="_blank").slider__content-link Посмотреть сайт
                                        svg.slider__link-icon
                                            use(xlink:href="assets/images/sprite.svg#link")
                            li.slider__item
                                .slider__img
                                    img(src="assets/images/content/work-2.png", alt="site-foto")
                                .slider__content 
                                    h4.slider__content-title Сайт бургерной "Mr Burger"
                                    .slider__content-description HTML, CSS, JavaScript, PHP
                                    a(href="http://front-dev.com/burger" target="_blank").slider__content-link Посмотреть сайт
                                        svg.slider__link-icon
                                            use(xlink:href="assets/images/sprite.svg#link")
                            li.slider__item
                                .slider__img
                                    img(src="assets/images/content/work-3.png", alt="site-foto")
                                .slider__content
                                    h4.slider__content-title Сайт для приложения "PINK"
                                    .slider__content-description HTML, CSS
                                    a(href="http://front-dev.com/pink" target="_blank").slider__content-link Посмотреть сайт
                                        svg.slider__link-icon
                                            use(xlink:href="assets/images/sprite.svg#link")
                    .slider__paginator
                        a(href="#").slider__paginator-item.slider__paginator-item--active
                        a(href="#").slider__paginator-item
                        a(href="#").slider__paginator-item 
                section.my-feedback
                    h3.my-feedback__title Что обо мне говорят
                        img(src="assets/images/icons/about_header.svg", alt="About").my-feedback__title-bg
                            
                    ul.my-feedback__comment-wrap
                        li.my-feedback__comment-item
                            .my-feedback__coment-ava
                                img(src="assets/images/content/dima.png", alt="avatar")
                            .my-feedback__comment-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4 месяца только самых тяжелых испытаний и бессонных ночей!
                                .my-feedback__comment-bg
                            .my-feedback__comment-name 
                                .my-feedback__name Ковальчук Дмитрий
                                .my-feedback__description - основатель Loftschool
                        li.my-feedback__comment-item
                            .my-feedback__coment-ava
                                img(src="assets/images/content/vova.png", alt="avatar")
                            .my-feedback__comment-text Этот код выдержеит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                                .my-feedback__comment-bg
                            .my-feedback__comment-name 
                                .my-feedback__name Сабанцев Владимир
                                .my-feedback__description - преподаватель Loftschool
                    .my-feedback__form
                        form(action="server.php" class="form" method="post" id="form").form
                            h3.form__title Связатся со мной
                            input(type="text" required placeholder="Ваше имя" name="name").form__field
                            input(type="text" required placeholder="Ваш email" name="email").form__field
                            textarea( required placeholder="Ваше сообщение" name="text").form__area
                            .form__btn-wrap
                                button(type="submit").form__btn.form__btn-submit Отправить
                                button(type="reset").form__btn.form__btn-reset Очистить 


                a(href="#about-title").arrow-btn.arrow-btn--up
                    svg.arrow
                        use(xlink:href="assets/images/sprite.svg#arrow_down")

                .form-popup
                    .form-popup__wrapper
                        h5.form-popup__name
                        a(href="#").close-btn Закрыть


                include ../includes/_footer.pug
                div#hellopreloader
                    div#hellopreloader_preload
                        .hellopreloader-bg
        script(type="text/javascript") var hellopreloader = document.getElementById("hellopreloader_preload");function fadeOutnojquery(el){el.style.opacity = 1;var interhellopreloader = setInterval(function(){el.style.opacity = el.style.opacity - 0.05;if (el.style.opacity <=0.05){ clearInterval(interhellopreloader);hellopreloader.style.display = "none";}},16);}window.onload = function(){setTimeout(function(){fadeOutnojquery(hellopreloader);},1000);};

        script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
        script(src="assets/scripts/work-min.js")
