footer.footer
    .footer__content-wrap
        .footer__text
            p Этот сайт я сделал в рамках обучения в Школе <br> онлайн образования LoftSchool.
        .footer__links
            ul.footer__nav
                li.footer__nav-item
                    a(href="my-works.html").footer__nav-link Мои работы
                li.footer__nav-item
                    a(href="about.html").footer__nav-link Обо мне
                li.footer__nav-item
                    a(href="blog.html").footer__nav-link Блог
                li.footer__nav-item
                    a(href="index.html").footer__nav-link Авторизация
            .footer__social-wrap
                ul.social
                    li.social__link
                        a.social__link-vk(href="#")
                            svg.social__icon.social__icon-vk.social__icon--color
                                use(xlink:href="assets/images/sprite.svg#vk") 
                    li.social__link
                        a.social__link-git(href="#")
                            svg.social__icon.social__icon-git.social__icon--color
                                use(xlink:href="assets/images/sprite.svg#github")
                    li.social__link
                        a.social__link-in(href="#")
                            svg.social__icon.social__icon-in.social__icon--color
                                use(xlink:href="assets/images/sprite.svg#in")
        .footer__contact-links
            ul.footer__contact-wrap
                li.footer__contact-item
                    a.footer__contact-link(href="#") vankert25
                li.footer__contact-item
                    a.footer__contact-link(href="#") vankert353@gmail.com
                li.footer__contact-item
                    a.footer__contact-link(href="#") +3 8 093 403 77 67
                li.footer__contact-item
                    a.footer__contact-link(href="#") Днепр пр.Героев д. 18
    .footer__copyright © Владимир Астахов | создано с любовью в LoftSchool | 2018
                