nav.nav.nav-panel 
    .nav-panel__left-side
    .nav-panel__right-side
    ul.nav-panel__items-wrapper
        li.nav-panel__item
            .nav-panel__decor-left
            .nav-panel__decor-right
            a(href="index.html").nav-panel__item-link Главная
        li.nav-panel__item
            .nav-panel__decor-left
            .nav-panel__decor-right
            a(href="my-works.html").nav-panel__item-link Мои работы
        li.nav-panel__item
            .nav-panel__decor-left
            .nav-panel__decor-right
            a(href="about.html").nav-panel__item-link Обо мне
        li.nav-panel__item
            .nav-panel__decor-left
            .nav-panel__decor-right
            a(href="blog.html").nav-panel__item-link Блог