nav.nav.nav-panel 
    ul.nav-panel__items-wrapper
        li.nav-panel__item
            a(href="my-works.html").nav-panel__item-link Мои работы
        li.nav-panel__item
            a(href="about.html").nav-panel__item-link Обо мне
        li.nav-panel__item
            a(href="blog.html").nav-panel__item-link Блог
        li.nav-panel__item
             a(href="index.html").nav-panel__item-link Авторизация