$white: #fff;

$blue: #0548be;

$navi: #083c96;

$grey: #474b57;

$black: #000;

$dark-grey: #3c3e47;



$tablet: 768px;

$phone: 480px;


@mixin tablet {
    @media screen and (max-width:$tablet) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width:$phone) {
        @content;
    }
}