.arrow-btn {
    z-index: 305;
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.arrow {
    fill: $white;
    width: 25px;
    height: 25px;
}

.arrow-btn--position {
    bottom: 204px;
}

.arrow-btn--up {
    bottom: 227px;
    transform: rotate(180deg);
}