.arrow-btn {
    z-index: 305;
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translate(-50%, -50%);
    @include tablet(){
        bottom: 100px;
    }
} 

.arrow {
    fill: #bcc5d2;
    transition: .3s;
    width: 25px;
    height: 25px;
    &:hover {
        fill: $white;
        transition: .3s;
    }
}

.arrow-btn--position {
    bottom: 204px;
}

.arrow-btn--up {
    bottom: 227px;
    transform: rotate(180deg);
    @include tablet(){
        bottom: 264px;
    }
}