.triangle-wrap {
    position: absolute;
    top: -165px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
}

.traingle {
    display: block;
    width: 100%;
    height: 235px;

    &__left {
        fill: #f2f0e8;
    }

    &__right {
        fill: #f4f5f0;
    }
}

.triangle-wrap--about {
    @include tablet(){
        .traingle__right {
           fill: #f2f0e8;
        }
    }
}

.triangle-wrap--position {
    top: -288px;
    
}

.triangle--color {
    .traingle__left{
        fill: #faf8f0;
    }
    
    .traingle__right{
        fill: #faf8f0;
    }
}


.triangle--works {
    height: 288px;
    .traingle__left{
        fill: rgba($color: #151a29, $alpha: .9);
        stroke: transparent;
    }
    
    .traingle__right{
        fill: rgba($color: #151a29, $alpha: .9);
        stroke: transparent;
    }
}

.slider__paginator {
    position: absolute;
    bottom: 20px;
    left: 50%;
    display: flex;

    &-item {
        width: 5px;
        height: 5px;
        border: 2px solid $blue;
        border-radius: 50%;
        margin: 0 10px;
        &--active {
            background-color: $blue;
        }
    }
}

